@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");	
@import "./src/styles/nuls.scss";

html{
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}

.header{

  background: #000000;   
  width:100%;
.wrapper{
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (max-width:1200px) {
    max-width: 1000px;
 }
 @media screen and (max-width:960px) {
    max-width: 900px;
 }
   }
}

a:before {
  content: '';
 
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
a:hover{
  background-color: #AB4949;
  transition: all .3s;
}
a input:hover{
transform: scale(1.1);
transition: all .2s;
color: #f7e9e9;
}
a:hover::before {
  width:100%;
}

.header_wrapper{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  .header_logo-link{
    padding-top: 22.46px;   
    padding-bottom: 21.85px;
    margin-right: 550px;
    @media screen and (max-width:1200px) {
      margin-right: 450px;
   }
   @media screen and (max-width:860px) {
    margin-right: 100px;
   }
   @media screen and (max-width:768px) {
    margin-right: 50px;
 }
 @media screen and (max-width:320px) {
  margin-right: 0;
}
  } 
}

.header_list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  .header_item{
    margin-right: 30px;
    @media screen and (max-width:960px) {
      margin-right: 19px;
      .header_item:last-child{margin-right: 0;}
   }

    .header_link{
      font-family: 'Open Sans';
      font-size: 14px;
      line-height: 19px;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      text-decoration: none;
      }
      .header_link:hover,.header_link:focus,.header_link:active{
        opacity:.75;}
        a {
          background-image: linear-gradient(
            to right,
            #faf6ef,
            #EC7979 50%,
            #fff 50%
          );
          background-size: 200% 100%;
          background-position: -100%;
          display: inline-block;
          padding: 5px 0;
          position: relative;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.3s ease-in-out;
        }
        a:before {
          content: '';
          background: #54b3d6;
          display: block;
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 0;
          height: 3px;
          transition: all 0.3s ease-in-out;
        }
        a:hover {
         background-position: 0;
        }
        a:hover::before {
          width:100%;
        }

  } 
}
.header__burger{
  @media screen and (max-width:768px) {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 20px;
    .header__burger::before,
    .header__burger::after{
       content: '';
       left: 0;
       position:absolute;
       width: 100%;
       height: 2px;
       background-color: #fff;
    }
    .header__burger::before{
       top: 0;
    }
    .header__burger::after{
       bottom: 0;
    }
    span{
      left: 0;
      top:9px;
       position:absolute;
       width: 100%;
       height: 2px;
       background-color: #fff;
    }
 }
}
.intro{
  display: flex;
  flex-direction: row;
  background:linear-gradient(#00000080, #00000080), 
  url(bg.png) no-repeat center;
  background-size: cover;
  height: 1026px;
  max-width: 1510px;
  @media screen and (max-width:1200px) {
    padding-top: 180px;

 }
 @media screen and (max-width:860px) {
    padding-top: 60px;
 }
 @media screen and (max-width:678px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 90px;
 }
 @media screen and (max-width:479px) {
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
 }
 

  .wrapper_intro{
    height: 1026px;
    max-width: 1510px;
    @media screen and (max-width:1200px) {
    height: 1026px;
    max-width: 1200px;
      
   }
   @media screen and (max-width:860px) {
    max-width: 860px;
   }
   @media screen and (max-width:678px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 90px;
   }
   @media screen and (max-width:479px) {
      padding-top: 30px;
      flex-direction: column;
      align-items: center;
   }

  .intro_logo{
    padding-top: 231px;
    padding-left:170px;
    max-width: 270px;
    display: flex;
    flex-wrap: nowrap;
    background-image: url(./AX.svg) url(./IT.svg);
    @media screen and (max-width:860px) {
      max-width: 150px;
      padding-top: 100px;
      padding-left:25px;
     }
    @media screen and (max-width:690px) {
      background-image:none;
      height: 0;
      width: 0;
      margin-bottom: 0;
   }

} 
}
}


h1.intro_title{
display: flex;
flex-wrap: nowrap;
justify-content: flex-start;
margin: 0;
padding:72.88px 30px 55.12px 170px;
height: 168px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;
color: #FFFFFF;
text-transform: uppercase;
@media screen and (max-width:1025px) {
  font-size: 36px;
  line-height: 42px;
  max-width: 464px;
  padding-bottom: 30px;
  padding-top: 50px;
}
@media screen and (max-width:860px) {
  max-width: 150px;
  padding-top: 35px;
  padding-left:25px;
 }
@media screen and (max-width:690px) {
  text-align: center;
  padding-top: 75px;
}

}
.separator{
padding-top: 55.12px;
  margin-left: 170px;
  width: 170px;
  @media screen and (max-width:1025px) {
    width: 115px;
    margin-bottom: 30px;
 }
 @media screen and (max-width:860px) {
  width: 115px;
  padding-top: 45px;
  padding-left:25px;
 }
    @media screen and (max-width:690px) {
      padding-top: 115px;
      text-align: center;
    width: 135px;
 }

}
.intro_subtitle{
padding-left:170px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
color: #FFFFFF;
@media screen and (max-width:1025px) {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
  max-width: 183px;
}
@media screen and (max-width:860px) {
  max-width: 150px;
  padding-top: 35px;
  padding-left:25px;
 }
@media screen and (max-width:690px) {
  text-align: center;
  padding-top: 35px;
  align-items: center;
  justify-content: center;
}


} 
.search-form_submit{
margin-top: 42px;
margin-left: 170px;
width: 270px;
height: 58px;
box-sizing: border-box;
border: 2px solid #FFFFFF;
background-color: transparent;
@media screen and (max-width:1025px) {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
  max-width: 183px;
}
@media screen and (max-width:860px) {
  max-width: 150px;
  padding-top: 35px;
  margin-left: 25px;
 }
@media screen and (max-width:690px) {
  text-align: center;
  padding-top: 35px;
  margin-left: 50px;
}

}  
.search-form_submit:hover,.search-form_submit:focus,.search-form_submit:active{
  background: #EC7979;
}
.form_intro{
padding-top: 208px;    
padding-right: 170px;
@media screen and (max-width:1200px) {
  margin-bottom: 130px;
}
@media screen and (max-width:1025px) {
  width: 183px;
}
@media screen and (max-width:992px) {
  margin-bottom: 100px;
}
@media screen and (max-width:690px) {
  max-width: 290px;
  margin-bottom: 50px;
  padding-top: 0;    
padding-right: 0;
}

}

.action-form_wrap{
display: flex;
justify-content: center;
align-items: center;
align-content: space-between;
flex-direction: row;
flex-wrap: wrap;
background-color: transparent;
height: 450px;
max-width: 470px;
background: #FFFFFF;
padding: 0;
border-radius: 10px;
border:0;
@media screen and (max-width:1200px) {
  margin-bottom: 130px;
}
@media screen and (max-width:1025px) {
  max-width: 200px;
}
@media screen and (max-width:992px) {
  margin-bottom: 100px;
  height: 450px;
}
@media screen and (max-width:690px) {
  text-align: center;
  padding-top: 35px;
  max-width: 190px;
  position: relative;
  
}


}
.form {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #333333;
  @media screen and (max-width:690px) {
    font-weight: 200;
    
  }

  }
  .colortext{
    margin-left: 3px;
    margin-right: 3px;
    color: #EC7979;
    @media screen and (max-width:690px) {
      font-weight: 200;
      
    }
  }

  .name,.email,.password{
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      display: flex;
      align-items: center;
      color: #BDBDBD;
      width: 370px;
      box-sizing: border-box;
      height: 50px;
      background-color: transparent;
      border:0;
      border-bottom: 1px solid#BDBDBD;
      @media screen and (max-width:690px) {
        font-weight: 200;
        
      }
  }

  .submit{
    
      text-transform: uppercase;
      max-width: 470px;
      height: 60px;
      background: #EC7979;
      border: none;
      border-radius: 0px 0px 10px 10px;
      @media screen and (max-width:690px) {
        max-width: 200px;
        
      }
     
      }
      button {
      max-width: 470px;
      height: 24px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.04em;
      color:#FFFFFF;
      transition: all 500ms ease;
      @media screen and (max-width:992px) {
        margin-top: 30px;
     }
     @media screen and (max-width:690px) {
      max-width: 200px;
      
    }
     &:hover{
        background-color: #AB4949;
        transition: all .3s;
     }
     & input:hover{
     transform: scale(1.1);
     transition: all .2s;
     color: #f7e9e9;
     }

      }
      button::before{
        content: "";
        background: rgba(255,255,255,0.3);
        border-radius: 5px;
        transition: all 2s ease;
      }
      button:hover:before {
        width: 100%;
      }
      
      .button_link{
          text-decoration: none;
          color:#FFFFFF;
         
      }
      button :hover,button:focus,button:active{
          background:none;
      }
      .name::-webkit-input-placeholder {
          padding-left: 20px;
      }
      .email::-webkit-input-placeholder {
          padding-left: 20px;
      }
      .password::-webkit-input-placeholder {
          padding-left: 20px;
      }
 
 
.Social_wrapper{
        background-size: cover;
        background: #F8EFEF;
        padding-top:35px;
        .wrapper{
          max-width: 1170px;
          padding: 0 15px;
          margin: 0 auto;
          @media screen and (max-width:1200px) {
            max-width: 1000px;
         }
         @media screen and (max-width:960px) {
            max-width: 900px;
         }

        .Social_wrapper-text{
          display: flex;
          justify-content:space-between;
          flex-direction: row;
          flex-wrap: nowrap;
          .wrapper_title{
            display: flex;
            justify-content:start;
            flex-direction: column;
            flex-wrap: nowrap;   
        .Social_title{
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 33px;
          display: flex;
          align-items: center;
          text-transform: capitalize;
          color: #333333;
          @media screen and (max-width:1024px){
            padding: 15px 0;
            font-size: 18px;
            line-height: 24px;
         }
         @media screen and (max-width:767px){
            text-align: center;
         }
         @media screen and (max-width: 479px){
            
         }

              } 
              .Social_descriptio{
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          display: flex;
          align-items: center;
          color: #86878B;
          @media screen and (max-width:1024px){
            font-size: 14px;
            line-height: 16px;
            max-width: 402px;
         }
         @media screen and (max-width:767px){
            text-align: center;
         }
         @media screen and (max-width: 479px){
            max-width: 271px;
         }

              } 
          }
        }
        
 
    .Social_ikones{
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-direction: row;
        @media screen and (max-width:1024px){
          font-size: 65px;
       }
       @media screen and (max-width:767px){
          font-size: 50px;
       }
       @media screen and (max-width: 479px){
             font-size: 26px;
             margin-bottom: 15px;
       }

    } 
    .ikones_Vector1,.ikones_Vector2,.ikones_Vector3,.ikones_Vector4,.ikones_Vector5,.ikones_Vector6{
      margin-right:45.60px ;
      .ikones_Vector1,.ikones_Vector2,.ikones_Vector3,.ikones_Vector4,.ikones_Vector5,.ikones_Vector6:hover,:active{
        background-color: #EC7979;
        transform: scale(1.1);
        transition: all .2s;
            }

    }
  }
  }
  .wrapper{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (max-width:1200px) {
      max-width: 1000px;
   }
   @media screen and (max-width:960px) {
      max-width: 900px;
   }

  @media screen and (max-width:992px) {
    max-width: 990px;
  }
  @media screen and (max-width:690px) {
    max-width: 680px;
    text-align: center;
    padding-top: 35px;
    max-width: 190px;
    height: 270px;
    
  }
    .tab{
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      padding-left: 100px;
      @media screen and (max-width:767px) {
         text-align: center;
         justify-content: center;
         align-items: center;
    }

    .prev,.midle,.next{
        max-width: 100px;
        margin-top: 105px;
        height: 35px;
        box-sizing: border-box;
        border: none;
        background-color: transparent;
        font-family: 'Open Sans';
font-style: normal;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
color: #333333;
@media screen and (max-width:1200px) {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
@media screen and (max-width:1024px) {
  font-weight: 400;
font-size: 14px;
line-height: 19px;
  padding-bottom: 40px;
}
@media screen and (max-width:767px) {
  margin-left: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
}

    }
    .prev{border-top: 1px solid rgba(198, 203, 205, 1);
      border-left: 1px solid rgba(198, 203, 205, 1);
      border-right: 1px solid rgba(198, 203, 205, 1);
      border-radius: 5px 5px 0px 0px;
      width: 230px;
      height: 40px;
      text-align: center;
      padding-top: 10px;
}
.midle{
  border-bottom: 1px solid rgba(198, 203, 205, 1);
  width: 184px;
  height: 40px;
  text-align: center;
  padding-top: 10px;

}
.next{
  border-bottom: 1px solid rgba(198, 203, 205, 1);
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-left: 57px;

}
}
.peppermint-inactive{
  display: flex;
  justify-content: space-between;
}
    .slide{
      
        padding-left: 100px;
        display: flex;
        align-items: space-between;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        height: 500px; 
        border: 1px solid #C6CBCD;
        @media screen and (max-width:1200px) {
          margin-right: 30px;
          max-width: 1190px;
       }
       @media screen and (max-width:1024px) {
          margin-left: 35px;
       }
       @media screen and (max-width:767px) {
        padding-left: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          max-width: 500px;
       }
       @media screen and (max-width:400px) {
          margin-left: 30px;
          margin-right: 10px;
          max-width: 300px;
       }

    }
    .transitioning{
      padding-top: 25px;
font-family: 'Open Sans';
font-style: normal;
padding-top: 50px;
font-size: 30px;
line-height: 41px;
padding-bottom: 60px;

color: #000000;
@media screen and (max-width:1200px) {
  font-size: 27px;
  padding-bottom: 50px;
}
@media screen and (max-width:1024px) {
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 40px;
}
@media screen and (max-width:767px) {
  margin-left: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
}

    }
    .dolor{
padding-top: 27px;
max-width: 570px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
color: #000000;
@media screen and (max-width:1024px) {
  font-size: 14px;
  line-height: 16px;
}

    }
    .submit-form_submit{
width: 270px;
height: 58px;
background: #EC7979;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
text-transform: capitalize;
margin-bottom: 54px;
border: none;
color: #FFFFFF;
&:hover{
  background-color: #AB4949;
  transition: all .3s;}
  @media screen and (max-width:1024px) {
    margin-bottom: 50px;
    width: 231px;
 }
 @media screen and (max-width:767px) {
    margin-bottom: 30px;
    margin-top: 10px;
}
 @media screen and (max-width:479px) {
    margin-bottom: 30px;
    margin-top: 15px;
    width: 242px;
 }

    }
    .Rectangle{
    
    width: 470px;
    height: 500px;
    background: url(./Rectangle.png) no-repeat;
    background-size: cover;
    background-position: right;
    display: block;
    
      @media screen and (max-width:1200px) {
        font-size: 27px;
        padding-bottom: 50px;
      }
      @media screen and (max-width:1024px) {
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 40px;
      }
      @media screen and (max-width:767px) {
        background-image: none;
        width: 0;
     
    }
  }
}  
  .AWESOME{
  .wrapper{         
    max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        @media screen and (max-width:1024px) {
           max-width: none;
        }

        padding-top: 50px;
         display: flex;
         flex-wrap: nowrap;
         align-items: center;
         justify-content:center;
         flex-direction: column;
         text-align: center;
         .AWESOME_title{
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 42px;
          display: flex;
          justify-content:center;
          align-items: center;
          text-align: center;
          color: #000000;
          @media screen and (max-width:1024px) {
            font-size: 24px;
            line-height: 28px;
            margin-top: 0px;
            margin-bottom: 25px;
         }
        }
        .separator2{
          padding-top:40px;
          padding-bottom: 40px;
          @media screen and (max-width:1024px) {
            width: 143px;
            margin-bottom: 25px;
            text-align: center;
          }
        }

        .AWESOME_tit{
          padding-top: 30px;
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content:center;
          color: #86878B;
          @media screen and (max-width:1024px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 30px;
         }
         @media screen and (max-width:690px) {
            text-align: center;
            }
         @media screen and (max-width:479px) {
            margin-bottom: 20px;
         }
        }
        .flex{
          padding-top: 110px;
           display: flex;
           justify-content: space-between;
           align-items: center;
           flex-wrap: nowrap;
           @media screen and (max-width:861px) {
            display:none;
          text-align: center;
         }
                     
          .flex-box{
            @media screen and (max-width:861px) {
              display:none;
              text-align: center;
           }
             width: 370px;
             height: 344px;
             .flex-box:nth-child(1){
              display: flex;
              align-items: center;
              text-align: center;
              flex-direction: column;
              margin-right: 31px;
              @media screen and (max-width:1024px) {
                max-width: 318px;
             }
             @media screen and (max-width:767px) {
                margin-bottom: 25px;
             }
             @media screen and (max-width:479px) {
                margin-bottom: 10px;
             }

             }
             .flex-box:nth-child(2){
              display: flex;
              align-items: center;
              text-align: center;
              flex-direction: column;
              margin-right: 31px;
              @media screen and (max-width:1024px) {
                max-width: 318px;
             }
             @media screen and (max-width:767px) {
                margin-bottom: 25px;
             }
             @media screen and (max-width:479px) {
                margin-bottom: 10px;
             }

             }
             .flex-box:nth-child(3){
              display: flex;
              align-items: center;
              text-align: center;
              flex-direction: column;
              @media screen and (max-width:1024px) {
                max-width: 318px;
             }
             @media screen and (max-width:767px) {
                margin-bottom: 25px;
             }
             @media screen and (max-width:479px) {
                margin-bottom: 10px;
             }

             }
             
             .rtext{
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 33px;
              display: flex;
              align-items: center;
              text-align: center;
              text-transform: capitalize;
              color: #000000; 
              @media screen and (max-width:1024px) {
                font-size: 18px;
                line-height: 25px;
                margin-bottom: 30px;
                }

             }
             .AWESOME_text{
              font-family: 'Raleway';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 21px;
              display: flex;
              align-items: center;
              text-align: center;
              color: #000000;
              @media screen and (max-width:1024px) {
                font-size: 14px;
                line-height: 16px;
             }

             }
          }
        }
  }
}
      

        
    .pricing{
      width: 100%;
      background: #F5F5F5;
        padding-top: 108px;
        background: #F5F5F5;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content:center;
        flex-direction: column;
        text-align: center;
        .pricing_title{
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 42px;
          display: flex;
          align-items: center;
          justify-content:center;
          text-align: center;
          text-transform: uppercase;
          color: #000000;
          @media screen and (max-width:1024px) {
            font-size: 24px;
            line-height: 28px;
            margin-top: 50px;
            margin-bottom: 25px;
         }

        }
        .separator2{
          padding-top:40px;
          padding-bottom: 40px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          @media screen and (max-width:1024px) {
            width: 143px;
            margin-bottom: 25px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
         }

        }
  
        .pricing_tit{
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content:center;
          color: #86878B;
          padding-bottom: 79px;
          @media screen and (max-width:1024px) {
            font-size: 14px;
            line-height: 16px;
         }
         @media screen and (max-width:690px) {
         margin-bottom: 20px;
         text-align: center;
         }

        }  
    }           
    

      .cards {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .card {
       margin: 0 30px;
      }


      *, *:before, *:after {
        box-sizing: inherit;
      }
      
      .body_Optima {
text-align: center;
      }
.body_Optima:hover{transform: translate(0, -35px);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
}

      .cards {
        margin: 0 auto;
        max-width: 1508px;
        @media screen and (max-width:992px){
          justify-content: space-evenly;
          flex-wrap: wrap;
          margin-top: 40px;
          margin-bottom: 40px;
       }
       @media screen and (max-width:700px){
          flex-direction: column;
       }

      }
      .card {
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
      }
      
      
      .body_Basic,.body_Pro{
        text-align: center;
      }
      .card_text1 {
        margin: 0;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        color: #fff;
        width: 370px;
height: 60px;
background: #333333;
border: 2px solid #F5F5F5;
@media screen and (max-width:1024px) {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
  }

      }
      
      .card_text2{
        margin: 0;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        width: 370px;
height: 100px;
background: #333333;
border: 2px solid #F5F5F5;
@media screen and (max-width:1024px) {
  font-size: 14px;
  line-height: 16px;
}

      }
      .card_text3{
        margin: 0;
        font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
justify-content: center;
color: rgba(255, 255, 255, 0.5);
width: 370px;
height: 50px;
background: #333333;
border: 2px solid #F5F5F5;
@media screen and (max-width:1024px) {
  font-size: 14px;
  line-height: 16px;
}

      }
      .card_text4{
        margin: 0;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
justify-content: center;
text-transform: capitalize;
color: #86878B;
width: 370px;
height: 50px;
background: #FFFFFF;
border: 2px solid #F5F5F5;
@media screen and (max-width:1024px) {
  font-size: 14px;
  line-height: 16px;
}

      }
      


         .customers_title{
          padding-top: 50px;
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 42px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          color: #000000;
          }
          .separator2{
            padding-top:40px;
            padding-bottom: 40px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content:center;
          }

          .customers_tit{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content:center;
            color: #86878B;
            @media screen and (max-width:1024px) {
              font-size: 14px;
              line-height: 16px;
           }

          }
          .flex{
            padding-top: 110px;
             display: flex;
             justify-content: space-between;
             align-items: center;
             flex-wrap: nowrap;
             @media screen and (max-width:868px) {
              justify-content: center;
              flex-direction: column;
              flex-wrap: wrap;
            }
                       }
             .flex-box{
            
               width: 370px;
               height: 344px;}
            
               .flex-box:nth-child(1){
                display: flex;
                align-items: center;
                text-align: center;
                flex-direction: column;
                margin-right: 31px;
                @media screen and (max-width:1157px) {
                  max-width: 340px;
                  }
               @media screen and (max-width:1076px) {
                  max-width: 317px;
                     font-size: 14px;
                     line-height: 16px;
               }
               @media screen and (max-width:1025px) {
                  margin-bottom: 35px;
               }

               }
               .flex-box:nth-child(2){
                display: flex;
                align-items: center;
                text-align: center;
                flex-direction: column;
                margin-right: 31px;
                @media screen and (max-width:1157px) {
                  max-width: 340px;
                  }
               @media screen and (max-width:1076px) {
                  max-width: 317px;
                     font-size: 14px;
                     line-height: 16px;
               }
               @media screen and (max-width:1025px) {
                  margin-bottom: 35px;
               }

               }
               .flex-box:nth-child(3){
                display: flex;
                align-items: center;
                text-align: center;
                flex-direction: column;
                @media screen and (max-width:1157px) {
                  max-width: 340px;
                  }
               @media screen and (max-width:1076px) {
                  max-width: 317px;
                     font-size: 14px;
                     line-height: 16px;
               }
               @media screen and (max-width:1025px) {
                  margin-bottom: 35px;
               }

               }
              .flex-box_foto{
                display: flex;
                align-items: center;
                text-align: center;
                flex-direction: row; 
                flex-wrap: nowrap;
                justify-content: space-between;
                @media screen and (max-width:1157px) {
                  max-width: 340px;
                  }
               @media screen and (max-width:1076px) {
                  max-width: 317px;
                     font-size: 14px;
                     line-height: 16px;
               }
               @media screen and (max-width:1025px) {
                  margin-bottom: 35px;
               }

              } 
               .rtext{
                padding-top: 15px;
                margin-right: 30px;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 33px;
                display: flex;
                align-items: center;
                align-content: flex-start;
                text-transform: capitalize;
                color: #000000; 
                @media screen and (max-width:1155px){
                  width: 320px;
                  height: 53px;
               }
               }
               .rtext2{
                padding-top: 15px;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 33px;
                display: flex;
                text-transform: capitalize;
                color: #000000; 
                @media screen and (max-width:1155px){
                  width: 320px;
                  height: 53px;
               }

               }
            
               .customers_text{
                
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: #000000;
                border-radius: 10px;
                max-width: 370px;
                height: 180px;
                background:#E2E2E2;
                position: relative;
                z-index: -1;
                @media screen and (max-width:1157px) {
                  max-width: 340px;
                  }
               @media screen and (max-width:1076px) {
                  max-width: 317px;
                     font-size: 14px;
                     line-height: 16px;
               }
               @media screen and (max-width:1025px) {
                  margin-bottom: 35px;
               }
               &::after{
                  content: '';
                  background-image: url("./Polygon.png");
                  position: absolute;
                  width: 30px;
                  height: 20px;
                  top:179px;
                  left: 50px;
               }


               }
              
               .customers_text2{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #000000;
                @media screen and (max-width:1155px){
                  width: 320px;
                  height: 44px;
               }

               } 
               
  .DESIGN{
 
margin-top: 64px;
background: url(bg2.png) no-repeat;
background-size: cover;
.DESIGN_wraper{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column; 
  flex-wrap: nowrap;
  @media screen and (max-width:1024px) {
    max-width: none;
 }

  .DESIGN_title{
    padding-top: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    @media screen and (max-width:1024px) {
      font-size: 24px;
      line-height: 28px;
      margin-top: 50px;
      margin-bottom: 25px;
   }
      @media screen and (max-width:690px) {
         text-align: center;
         }

  }
  .separator{
    padding-bottom: 50px;
    @media screen and (max-width:1024px) {
      width: 143px;
      margin-bottom: 25px;
   }

  }

  .DESIGN_tit{
    padding-bottom: 73px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    @media screen and (max-width:1024px) {
      font-size: 14px;
      line-height: 16px;
   }
   @media screen and (max-width:690px) {
      text-align: center;
      }

  }
}
  } 
 
  
  .DESIGN-form_submit{
    width: 270px;
    height: 58px;
    background-color: transparent;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 54px;
    border: 1px solid;
    color: #FFFFFF;
        }
        .DESIGN-form_submit::hover,.DESIGN-form_submit::focus,.DESIGN-form_submit::active{
          background: #EC7979;
      }
      
      .contact{
        padding-top:50px;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column; 
        flex-wrap: nowrap;
        .contact_title{
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 42px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          color: #000000;
        }
        .separator2{
          padding-bottom: 40px;
        }
      
        .contact_tit{
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #86878B;
        }
      }
      
      .contact_form{
        padding-top: 89px;
        width: 1170px;    
        }
       
        .contact-form_place{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: transparent;
        background: #FFFFFF;
        border-radius: 10px;
        border:0;
      
      }
.area{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  max-width: 1170px; 

}
            .text-form_place{
              display: flex;
              align-items: center;
              text-align: center;
              flex-direction: column; 
              flex-wrap: wrap;
              height: 300px;
            
            }
        
            .name_text,.email_text,.password_text{
              width: 571px;
              margin-right: 30px;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                display: flex;
                align-items: center;
                color: #BDBDBD;
                box-sizing: border-box;
                height: 85px;
                background-color: transparent;
                border:0;
                border-bottom: 1px solid#BDBDBD;
               
            }
            .comment_text{
              background-color: transparent;
              border:0;
              border-bottom: 1px solid#BDBDBD;
              width:569px;
              height: 193px;
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 19px;
              align-items: center;
              box-sizing: border-box;
              color: #BDBDBD;

          }
        
            .submit{
                text-transform: uppercase;
                width: 470px;
                height: 60px;
                background: #EC7979;
                }
                button {
                width: 470px;
                height: 24px;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.04em;
                color:#FFFFFF;
                }
                .button_link{
                    text-decoration: none;
                    color:#FFFFFF;
                }
                button::hover,button::focus,button::active{
                    background: #FFFFFF;
                }
                .name::-webkit-input-placeholder {
                    padding-left: 20px;
                }
                .email::-webkit-input-placeholder {
                    padding-left: 20px;
                }
                .password::-webkit-input-placeholder {
                    padding-left: 20px;
                }
  .footer{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .container_footer{
      background-color: #000000;
      width: 1510px;
      height: 164px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      .footer_Vector{
        margin-top: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        }
        .footer_Vec1,.footer_Vec2,.footer_Vec3,.footer_Vec4,.footer_Vec5,.footer_Vec6{
          margin-right:52.31px;
          & :hover{
            transform: scale(1.1);
            transition: all .2s;
            }
            @media screen and (max-width:1025px) {
               font-size: 45px;
            }
            @media screen and (max-width:767px) {
               font-size: 26px;
            }

        }
        .container_text{

          padding-bottom: 27px;
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          display: flex;
          align-items: center;
          text-align: center;
          color: rgba(255, 255, 255, 0.5);
                      @media screen and (max-width:1025px) {
               font-size: 14px;
               line-height: 16px;
               margin-bottom: 35px;
               margin-top: 30px;
            }

          }
      }
  }              




